<% layout('../layout/page') -%>

<!-- Main info block -->
<div class="b-page__wrapper">
    <div class="l-container">
        <div class="b-page__inner">
            <main class="b-novaposhta__wrapper">
                <h1>
                    NOVA POSHTA
                </h1>
                <form action="/novaposhta/show" method="GET">
                    <label for="citySearch">
                        <input
                            type="search"
                            id="citySearch"
                            placeholder="Enter city"
                            name="q"
                            value="<%= q %>"
                        />
                    </label>
                    <button type="submit">Search</button>
                </form>

                <div class="search-result">
                    <% for (let i = 0; i < cities.length; i++) { %>
                        <div class="search-item">
                            <%= cities[i].Present %>
                        </div>
                    <% } %>
                </div>
            </main>
        </div>
    </div>
</div>
