<div class="b-minicart__body">
    <div class="b-minicart__header">
        <i class="b-page__icon__close js-close-minicart fa fa-close fa-2x"></i>
    </div>

    <% for (let i = 0; i < products.length; i++) { %>
        <% var product = products[i] %>
        <div class="b-minicart__item">
            <div>
                <div class="b-minicart__item__image">
                    <img src="<%= product.image %>" alt="">
                </div>
            </div>
            <div class="b-minicart__item__info">
                <div>
                    <span>Name:</span>
                    <span><%= product.name %></span>
                </div>
                <div>
                    <span>Quantity:</span>
                    <span><%= product.quantity %></span>
                </div>
            </div>
        </div>
    <% } %>
</div>