<div>
    <% for (let i = 0; i < products.length; i++) { %>
        <% var product = products[i] %>
        <div>
            <%= product.name %>
        </div>
        <div>
            <%= product.quantity %>
        </div>
    <% } %>
</div>