<div class="d-none b-page__modal js-modal">
    <div class="js-modal-header">
        <i class="b-page__close-icon js-close-modal fa fa-close"></i>
    </div>
    <div class="js-modal-body">
    </div>
</div>