<div class="d-none b-page__modal js-modal">
    <div class="b-page__modal__header js-modal-header">
        <i class="b-page__icon__close js-close-modal fa fa-close fa-2x"></i>
    </div>
    <div class="b-page__modal__body js-modal-body">
    </div>
</div>